*
{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
img{
    display: block;
}
.container{
    width: 80%;
    display: block;
}
.clear{
    clear: both;
    display: block;
}
header{
    padding: 20px 0;
}
header h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    color: red;
}
nav{
    background-color: steelblue;
}
.menu{
    padding: 15px 0;
}
.menu a{
    color: whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    font: 16px;
    display: inline;
    padding: 0 20px;
}
.menu a:first-child{
    padding-left: 0;
}
.menu a:hover{
    color: yellow;
    text-decoration: underline;
}
#banner{
    position: relative;
}
#banner img{
    width: 100%;
    height: 500px;
}
.info{
    position: absolute;
    top: 10.5%;
    left: 0;
    transform: translate(0%, -50%);
    background-color: #533e46;
    color: white;
    padding: 30px 100px;
    opacity: 0.5;
    text-align: center;
}
.info h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}
.info p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;
}
#feature{
    padding: 30px 0;
    text-align: center;
}
#feature h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 38px;
    text-align: center;
    border-bottom: 2px solid steelblue;
    display: inline-block;
    color: steelblue;
}
.boxes{
    padding-top: 30px;
    display: flex;
}
.box{
    width: 30%;
    position: relative;
}
.box img{
    width: 100%;
    height: 400px;
}
.box h4{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: black;
    width: 100%;
    padding: 20px 0;
    opacity: 0.8;
}
.box h4 a{
    text-align: left;
    color: red;
    text-decoration: none;
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.box h4 a:hover{
    text-decoration: underline;
}
.box img:hover{
    transform: scale(150%);
}
#newsletter{
    padding: 40px 0;
    background-image: url(../images/nepal.jpg);
}
#newsletter form{
    display: block;
    text-align: center;
}
#newsletter input[type=text]{
    padding: 10px 5px;
    width: 250px;
    border: none;
    outline: none;
}
#newsletter input[type=submit]{
    padding: 10px;
    background-color: steelblue;
    border: none;
    cursor: pointer;
    color: whitesmoke;
}
#newsletter h5{
    color: red;
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 10px;
}
footer{
    padding: 30px 0;
}
.fboxes{
    display: flex;
}
.fbox{
    width: 24%;
}
.fbox h6{
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #3c9c96;
    padding-bottom: 10px;
}
.fbox ul{
    list-style: none;
}
.fbox ul li{
    border-bottom: 1px dotted steelblue;
    padding: 5px 0;
}
#content{
    padding: 30px 0;
}
#content h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #3c9c96;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.days{
    background-color: steelblue;
    color: whitesmoke;
    padding: 10px 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}
.meduim{
    background-color: red;
    color: whitesmoke;
    padding: 10px 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}
.nature{
    background-color: green;
    background-color: steelblue;
    color: whitesmoke;
    padding: 10px 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}

#content img{
    text-align: left;
    display: block;
    margin: 20px 0;
}
.itinerary{
    margin: 20px 0;
 }
 .itinerary h4{
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-size: 20px;
     padding: 10px 0;
 }
 .itinerary p{
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-size: 16px;
 }
 .book{
     background-color: green;
     color: white;
     padding:10px 20px;
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-size: 16px;
     display: inline-block;
 }
 .contact_boxes{
    display: flex;
 }
 